{% extends "chat_base.html" %}

{% load static %}

{% block main %}
  <article>
    {% for c in object_list %}
    <div>
      <span style="padding-right: 15px;">{{c.posted|date:'G:i:s'}}</span>
      <strong>{{c.author}}:</strong>
      {{c.content}}
    </div>
    {% endfor %}
  </article>
  <p>You're chatting as <strong id="username"></strong></p>
  <form>
    <p>Type your message:</p>
    <input name="message" hx-post="{#{% url 'file_archive_update' author.uid %}#}" hx-on:keydown="(event.keyCode===13&&!event.shiftKey)?event.preventDefault():null">
  </form>

  <script>
    username = document.getElementById("username")
    username.textContent=localStorage.getItem("username")
  </script>
{% endblock %}
