{% extends "chat_base.html" %}

{% load static %}

{% block main %}
  <article id="message-list">
    {% include "message_list.html" %}
  </article>
  <p>You're chatting as <strong name="username" id="username"></strong></p>
  <p>Type your message:</p>
  <input id="type-message" name="content" hx-vals='js:{author: localStorage.getItem("username")}' hx-target="#message-list" hx-post="{% url 'chat_post' %}" hx-on:keydown="event.key==='enter'">

  <script>
    const username = localStorage.getItem("username")
    username_field = document.getElementById("username")
    username_field.textContent=username
    username_field.value=username

    const type_message = document.getElementById("type-message")
    type_message.addEventListener("keyup", function(e) {
      if (e.key === 'Enter') {
        type_message.value = ""
      }
    })
  </script>
{% endblock %}
