{% load static %}

<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="utf-8">
  <title>Communications</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/pico.min.css" rel="stylesheet">
  <link href="/static/custom.css" rel="stylesheet" media="screen">
  {% block stylesheets %}{% endblock %}
  <script src="/static/custom.js"></script>
  {% block head_javascripts %}{% endblock %}
</head>
<body>
  {% block javascripts %}{% endblock %}
  <nav>
    <ul>
      <li><a href="{% url "index" %}">Home</a></li>
      <li><a href="{% url "decisionlog" %}">Decision log</a></li>
      <li><a href="{% url "chat_index" %}">Chat room</a></li>
    </ul>
  </nav>
  <main>
    <h1>{% block page_title %}{% endblock %}</h1>

    {% block main %}{% endblock %}
    <script src="/static/htmx.min.js"></script>
  </main>
</body>
</html>
